<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approval</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='college_logo.png') }}" alt="College Logo">
            <h1>Approval for Paper ID: {{ paper_id }}</h1>
        </header>
        <form action="{{ url_for('approve_paper', paper_id=paper_id) }}" method="post">
                <button name="action" value="forward_to_hod">Sign & Forward for Approval</button>
                <button name="action" value="discard">Discard</button>
        </form>
    </div>
    <footer>
        <p>Made for SKIT by Darshan S</p>
        <p>Sri Krishna Insitute of Technology | Chikkabanavara, Bangalore 90 | All rights reserved.</p>
        <p>Follow us on <a href="https://facebook.com" target="_blank">Facebook</a>, <a href="https://twitter.com" target="_blank">Twitter</a>, <a href="https://instagram.com" target="_blank">Instagram</a></p>
    </footer>
</body>
</html>
