<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='college_logo.png') }}" alt="College Logo">
        </a>
        <h1>Register</h1>
    </header>
    <div class="container">
        <form action="{{ url_for('register') }}" method="post" enctype="multipart/form-data">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            
            <label for="department">Department</label>
            <select id="department" name="department" required>
                <option disabled selected>Please select a Department</option>
                <option value="MGMT">Management / Principal</option>
                <option value="AIML">AIML</option>
                <option value="CSE">CSE</option>
                <option value="ISE">ISE</option>
                <option value="MECH">MECH</option>
                <option value="CIVIL">CIVIL</option>
            </select>
            
            <label for="priority">Priority Level:</label>
            <select id="priority" name="priority" required>
                <option disabled selected>Please select a Level</option>
                <option value="STAFF">Teaching staff</option>
                <option value="HOD">Head of the department</option>
                <option value="MGMT">Management / Principal</option>
            </select>

            <label for="signature">Digital Signature</label>
            <input type="file" accept=".jpg, .jpeg, .png, .svg, .ico" id="signature" name="signature" required>

            <button type="submit">Submit</button>
        </form>
    </div>
    <footer>
        <p>&copy; 2024 - SKIT. All rights reserved. Follow us on <a href="https://facebook.com" target="_blank">Facebook</a>, <a href="https://twitter.com" target="_blank">Twitter</a>, <a href="https://instagram.com" target="_blank">Instagram</a></p>
    </footer>
</body>
</html>
