<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('profile') }}">
            <img src="{{ url_for('static', filename='college_logo.png') }}" alt="College Logo">
        </a>
        <h1>Status</h1>
    </header>
    <div class="container">
        <h2>Previous Papers</h2>
        <ul class="papers">
            {% for paper in papers %}
                <li>
                    <span> PaperID: {{ paper[2] }} - {{ paper[11] }} - {{ paper[7] }} Status: {{ paper[3] }} </span>
                    <form action="{{ url_for('download_pdf_with_paperId', paperId=paper[2]) }}" method="post">
                        <button type="submit">Download Paper</button>
                    </form>
                    {% if priolvl == 'HOD' %}
                        {% if paper[3] == 'Paper Rejected ⛔' or 'Forwarded for HOD Approval.' %}
                            <form action="{{ url_for('paper_status_approved', paperId=paper[2]) }}" method="post">
                                <button type="submit"> Approve Paper </button>
                            </form>
                        {% endif %}
                        {% if paper[3] == 'Paper Approved ✅' or 'Forwarded for HOD Approval.' %}
                            <form action="{{ url_for('paper_status_rejected', paperId=paper[2]) }}" method="post">
                                <button type="submit"> Reject Paper </button>
                            </form>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <footer>
        <p>&copy; 2024 - SKIT. All rights reserved. Follow us on <a href="https://facebook.com" target="_blank">Facebook</a>, <a href="https://twitter.com" target="_blank">Twitter</a>, <a href="https://instagram.com" target="_blank">Instagram</a></p>
    </footer>
</body>
</html>
